#mid {
	float: left;
	padding-left: 30%;
}

#top {
	padding-left: 33%;
}

#bot {
	padding-left: 32%;
}

/*You may want to add a slider to change the font size of the buttons? */

button {
	font-size: 100px;
}
